*{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
}
header{
    padding: 40px;
    text-align: center;
    background-color:cornflowerblue;
    color:black;
    .hero{
        padding: 40px;
    text-align: center;
        color:black;
    }
}
.hero nav{
    display:flex;
    background-color: dimgray;
    flex-wrap: wrap;
}

.header{
    padding: 20px;
    color: #fff;
    flex-wrap: wrap;
}


.hero nav ul{
    list-style: none;
}
.hero nav li { /* I want to move this content to the right*/
    color:dodgerblue;
    padding:14px 20px;
    text-align: center;
    float: left;
}
.hero nav li h1{ /* I want to move my name to the left*/
background-color: lightblue;
color:black;
padding: 14px;

}
.center{
    height: 75px;
    width:100%;
}
main{
    display: flex;
    flex-wrap: wrap;
}
footer{
    padding:8px;
    text-align: center;
    background-color: #f3efe8;
    color:black;
}
.work-experience{
flex:4;
padding:20px;
background-color: #f3efe8;;
display:flex;
flex-wrap: wrap;
justify-content:space-between;
}
.work-experience h2{
    padding:20px;
    border-style: double;
    background-color:white;
}
